@use '@/styles/mixins';

.navigation {
  &__list {
    display: none;

    @include mixins.tablet {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      max-width: 80vw;
      flex: 1;
      gap: 5rem;
    }

    &--open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 15rem;
      right: 2rem;
      text-align: right;
    }
  }

  &__droplist {
    position: relative;
    padding-block: 0.5rem;

    @include mixins.tablet {
      position: absolute;
      padding-block: 0;
    }
  }

  &__link {
    font-size: 2rem;
    font-weight: 600;
    color: $primary-dark;
    border: 0.1px solid transparent;
    transition:
      color 0.5s ease,
      border-color 0.5s ease;
    white-space: nowrap;

    &:hover {
      color: $secondary-light;
      border-radius: 0.5rem;
      transition:
        color 0.5s ease,
        border-color 0.5s ease;
    }

    &drop {
      font-size: 1.5rem;

      @include mixins.tablet {
        font-size: 2rem;
      }
    }
  }
}
