@use '@/styles/mixins';

.navigation {
  &__list {
    display: none;
    position: relative;

    @include mixins.tablet {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      max-width: 80vw;
      flex: 1;
      gap: 5rem;
    }

    &--open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 12rem;
      left: 0;
      width: 100%;
      padding-right: 2rem;
      padding-bottom: 2rem;
      text-align: right;
      background-color: $secondary-light;
    }
  }

  &__droplist {
    position: relative;
    padding-block: 0.5rem;

    @include mixins.tablet {
      position: absolute;
      padding-block: 0;
    }
  }

  &__link {
    font-size: 2rem;
    font-weight: 600;
    color: $primary-dark;
    transition: color 0.5s ease;
    white-space: nowrap;

    &:hover {
      @include mixins.tablet {
        color: $secondary-light;
        transition:
          color 0.5s ease,
          border-color 0.5s ease;
      }
    }

    &drop {
      font-size: 1.5rem;

      @include mixins.tablet {
        font-size: 2rem;
      }
    }
  }
}
