@use '@/styles/mixins';

html,
body {
  display: flex;
  justify-content: center;
  width: 100vw;
  font-size: 62.5%;
}

html {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Montserrat, Helvetica, sans-serif;
  color: $secondary;
  background-color: $primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  @include mixins.laptop {
    padding: 10vw;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  font-family: Montserrat, Helvetica, sans-serif;
  text-decoration: none;
  color: $secondary;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}

p,
a {
  font-size: 1.4rem;
}
