html,
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
