@use '@/styles/colors' as *;
@use '@/styles/mixins' as mixins;

.navigation {
  background: rgba($surface-card, 0.9);

  @include mixins.laptop {
    padding-inline: 10vw;
  }

  &__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 1.6rem;
    gap: 1rem;
  }

  &__brand {
    display: inline-flex;
    align-items: center;
  }

  &__logo {
    border-radius: 0.6rem;

    @include mixins.tablet {
      width: 7rem;
      height: 5rem;
    }
  }
}
