.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__list {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 80vw;
  }
}
