@use '@/styles/colors' as *;
@use '@/styles/mixins' as mixins;

.navigation {
  background: rgba($surface-card, 0.9);
  box-shadow: 0 1.2rem 2.4rem rgba($secondary, 0.08);

  @include mixins.laptop {
    padding-inline: 10vw;
  }

  &__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 2rem;
    gap: 1.5rem;
    background-color: $secondary-light;

    @include mixins.tablet {
      padding: 2rem 0;
      background-color: transparent;
    }
  }

  &__brand {
    display: inline-flex;
    align-items: center;
  }

  &__logo {
    border-radius: 0.8rem;

    @include mixins.tablet {
      width: 7rem;
      height: 5rem;
    }
  }
}
