@use '@/styles/mixins';

.navigation {
  @include mixins.laptop {
    padding-inline: 10vw;
  }

  &__navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $secondary-light;

    @include mixins.tablet {
      background-color: transparent;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }

  &__list {
    display: none;

    @include mixins.tablet {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      max-width: 80vw;
      flex: 1;
      gap: 5rem;
    }
  }

  &__dropdown {
    position: relative;
  }

  &__droplist {
    position: absolute;
  }

  &__link {
    font-size: 2rem;
    white-space: nowrap;
    font-weight: 600;
    color: $primary-dark;
    border: 0.1px solid transparent;
    transition:
      color 0.5s ease,
      border-color 0.5s ease;

    &:hover {
      color: $secondary-light;
      border-radius: 0.5rem;
      transition:
        color 0.5s ease,
        border-color 0.5s ease;
    }
  }
}
