@use '@/styles/mixins';

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 2.3rem;
  height: 2rem;
  min-width: 2.3rem;
  color: $primary;
  background: none;
  border: none;
  cursor: pointer;

  &__open {
    span:nth-child(1) {
      transform: rotate(45deg) translate(0.5rem, 0.5rem);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: rotate(-45deg) translate(0.7rem, -0.7rem);
    }
  }

  @include mixins.tablet {
    display: none;
  }

  &__line {
    width: 2.5rem;
    height: 0.3rem;
    background: $primary;
    border-radius: 0.2rem;
    opacity: 1;
    transition: all 0.3s ease;
    transform-origin: center;
  }
}
