@use '@/styles/mixins';

.footer {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  min-height: 25vh;
  padding: 4rem 2rem;
  gap: 4rem;
  color: $primary;
  background-color: $secondary-light;

  @include mixins.tablet {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 10vw;
    padding-block: 10rem;
  }

  &__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include mixins.tablet {
      max-width: 25rem;
      gap: 5rem;
    }
  }

  &__credits {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  &__heading {
    font-size: 3rem;
    text-transform: uppercase;
  }

  &__socials {
    display: flex;
    justify-content: space-evenly;

    @include mixins.tablet {
      justify-content: space-around;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-around;
    flex: 1;

    @include mixins.small-tablet {
      flex-direction: row;
    }
  }

  &__title {
    font-size: 2rem;
    white-space: nowrap;
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: $primary;
    gap: 0.5rem;
  }
}
