$primary: #d4d4d4;
$secondary: #121212;
$white: #fff;
$black: #000;
$green: #28a745;
$green-secondary: #1c7c31;
$error: #b10;
$error-secondary: #fdfafaaf;
$error-tretiary: #e98076;
$loading: #e3ed2c;
$background: #000000b9;
$background-secondary: #00000050;
$background-tretiary: #00000015;
$hover: #4fc3f7;
$success: #155724;
$button-default: #007bff;
$button-focus: #0056b3;
$button-disabled: #cdc7c7;
$star-default: #f4a360;
$star-selected: #f8872a;
